@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div>
        <h1 class="display-4">List Files</h1>
        @foreach (var blob in Model.Blobs)
        {
            <div>@blob.Name</div>
        }
    </div>
    <div>
        <h1 class="display-4">Upload File</h1>
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <input type="file" name="uploadedFile" />
            </div>
            <button type="submit" class="btn btn-primary">Upload</button>
        </form>
    </div>
</div>
